:root {
    --color-primary: #13496a;
    --color-white: #e9e9e9;
    --color-black: #082a3f;
    --color-black-1: #212b38;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: sans-serif;
  }


  .menubar {
    background-color: var(--color-black);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
  }

  .menubar ul {
    list-style: none;
    display: flex;
  }

  .menubar ul li {
    padding: 10px 30px;
    position: relative;
  }

  .menubar ul li a {
    color: var(--color-white);
    text-decoration: none;
    font-size: 20px;

    transition: all 0.3s;
  }

  .menubar ul li a:hover {
    color: var(--color-primary);
  }

  .dropdown-menu {
    display: none;
  }

  .menubar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-black);
  }

  .menubar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
  }

  .menubar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
  }

  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }

  .dropdown-menu-1 {
    display: none;
  }

  .dropdown-menu ul li:hover .dropdown-menu-1 {
    display: block;
    position: absolute;
    top: 0;
    left: 150px;
    background-color: var(--color-black);
  }

.dropdown-menu-2 {
    display: none;
}

  .dropdown-menu ul li:hover .dropdown-menu-2 {
    display: block;
    position: absolute;
    top: 0;
    left: 150px;
    background-color: var(--color-black);
  }

  .dropdown-menu-3 {
    display: none;
}

  .dropdown-menu ul li:hover .dropdown-menu-3 {
    display: block;
    position: absolute;
    top: 0;
    left: 150px;
    background-color: var(--color-black);
  }

  .dropdown-menu-4 {
    display: none;
}

  .dropdown-menu ul li:hover .dropdown-menu-4 {
    display: block;
    position: absolute;
    top: 0;
    left: 150px;
    background-color: var(--color-black);
  }

  .dropdown-menu-10 {
    display: none;
  }

  .menubar ul li:hover .dropdown-menu-10 {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-black);
  }

  .menubar ul li:hover .dropdown-menu-10 ul {
    display: block;
    margin: 10px;
  }

  .menubar ul li:hover .dropdown-menu-10 ul li {
    width: 150px;
    padding: 10px;
  }

  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }

  .dropdown-menu-20 {
    display: none;
  }

  .menubar ul li:hover .dropdown-menu-20 {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-black);
  }

  .menubar ul li:hover .dropdown-menu-20 ul {
    display: block;
    margin: 10px;
  }

  .menubar ul li:hover .dropdown-menu-20 ul li {
    width: 150px;
    padding: 10px;
  }

  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }

  .dropdown-menu-30 {
    display: none;
  }

  .menubar ul li:hover .dropdown-menu-30 {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-black);
  }

  .menubar ul li:hover .dropdown-menu-30 ul {
    display: block;
    margin: 10px;
  }

  .menubar ul li:hover .dropdown-menu-30 ul li {
    width: 150px;
    padding: 10px;
  }

  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }

  .terminal {
    height: calc(100vh - 80px);
    background-image: url(./);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .hide {
    display: none;
}
.myDIV:hover + .hide {
  display: block;
    position: absolute;
    top: 30px;
    right: 125%;
    background-color: var(--color-black);
}

.hide1 {
  display: none;
}
.myDIV2:hover + .hide1 {
display: block;
  position: absolute;
  top: 30px;
  left: 120%;
  background-color: var(--color-black);
}

.hide2 {
  display: none;
}
.myDIV3:hover + .hide2 {
display: block;
  position: absolute;
  top: 200px;
  left: 120%;
  background-color: var(--color-black);
}

.hide3 {
  display: none;
}
.myDIV4:hover + .hide3 {
display: block;
  position: absolute;
  top: 450px;
  left: 120%;
  background-color: var(--color-black);
}

.hide4 {
  display: none;
}
.myDIV5:hover + .hide4 {
display: block;
  position: absolute;
  top: 525px;
  left: 120%;
  background-color: var(--color-black);
}

.dropdown-menu-OASR {
  display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-OASR {
  display: block;
  position: absolute;
  top: 0;
  left: 150px;
  background-color: var(--color-black);
}

.dropdown-menu-BS {
  display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-BS {
  display: block;
  position: absolute;
  top: 0;
  left: 150px;
  background-color: var(--color-black);
}

.dropdown-menu-GYS {
  display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-GYS {
  display: block;
  position: absolute;
  top: 0;
  left: 150px;
  background-color: var(--color-black);
}

.dropdown-menu-DS {
  display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-DS {
  display: block;
  position: absolute;
  top: 0;
  left: 150px;
  background-color: var(--color-black);
}

.dropdown-menu-VPM {
  display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-VPM {
  display: block;
  position: absolute;
  top: 0;
  left: 150px;
  background-color: var(--color-black);
}

.hide5 {
  display: none;
}
.myDIV6:hover + .hide5 {
display: block;
  position: absolute;
  top: 50px;
  right: 125%;
  background-color: var(--color-black);
}

.hide6 {
  display:none;
}

.myDIV6:hover + .hide6 {
  display: block;
    position: absolute;
    top: 200px;
    right: 125%;
    background-color: var(--color-black);
  }

  .hide7 {
    display:none;
  }
  
  .myDIV7:hover + .hide7 {
    display: block;
      position: absolute;
      top: 100px;
      right: 150%;
      background-color: var(--color-black);
    }

    .hide8 {
      display:none;
    }
    
    .myDIV8:hover + .hide8 {
      display: block;
        position: absolute;
        top: 100px;
        right: 180%;
        background-color: var(--color-black);
      }

    .hide9 {
      display:none;
    }
      
    .myDIV9:hover + .hide9 {
      display: block;
      position: absolute;
      top: 100px;
      right: 125%;
      background-color: var(--color-black);
    }

    .hideNEW {
      display:none;
    }
      
    .myDIVNEW:hover + .hideNEW {
      display: block;
      position: absolute;
      top: 100px;
      right: 125%;
      background-color: var(--color-black);
   }
